.button {
  width: 340px;
  height: 40px;
  text-align: center;
  background: #FFCE22;
  border: none;
  border-radius: 4px;
  margin: 10px 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  &:hover {
    background: #FFD84D;
  }
  &:active {
    background: #FFCE22;
  }
}
