@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #1F2128;

  .form-wrapper {
    width: 370px;
    margin-top: 85px;
    form {
      border-radius: 6px;
      padding: 10px 0;
      background: white;
      border: 1px solid #eee;
      filter: drop-shadow(0 8px 15px rgba(20, 20, 20, 0.12)) drop-shadow(0 0 4px rgba(20, 20, 20, 0.1));
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      hr {
        border: none;
        border-top: 1px solid #cdcdcd;
        margin: 10px 15px;
      }
    }
  }
}
